/* Metal Coins */

#tituloMetalCoins {
position: absolute;
width: 539px;
height: 127px;
left: 335px;
top: 68px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 105px;
line-height: 127px;

}


