#Bloqueio de visualizacoes de arquivos das pasta (questoes de seguranca)
Options All -Indexes

DirectoryIndex src / views / login.php

RewriteEngine on

#Acessa arquivo sem extensao php e html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php



