body{
  background-color:rgb(45, 8, 90);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1000px;
    background-color: rgba(86.06253191828728, 17.212498784065247, 172.12500303983688, 1);
    border-radius: 60px;
    padding: 30px 20px;
    margin-top: 150px;
    box-shadow: 100px 100px 80px rgba(0, 0, 0, 0.03)
  }
  
  .title {
    color:aliceblue ;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 4px;
    font-size: 45px;
    margin-top: -20px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .sub {
    text-align: center;
    color:antiquewhite;
    font-size: 14px;
    width: 100%;
  }
  
  .sub.mb {
    margin-bottom: 1px;
    font-size: 25px;
    margin-top: -20px;
  }
  
  .sub a {
    color: rgb(23, 111, 211);
  }
  
  
  
  .form button {
    align-self: flex-end;
    
  }
  
  .input {
    border: none;
    outline: none;
    width: 500px;
    padding: 16px 10px;
    background-color: rgb(247, 243, 243);
    border-radius: 10px;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),100px 100px 80px rgba(0, 0, 0, 0.03);
    margin-top: 10px;
  }
  
  .botao {
    margin-top: 12px;
    background-color:rgb(42, 3, 90);;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 150px;
    padding: 16px 9px;
    border: none;
    outline: none;
    border-radius: 30px;
    position: relative;
    left: -650px;

  }
  
  .input:focus {
    border: 1px solid rgb(23, 111, 211);
  }
  
  #file {
    display: none;
  }
  body{
    background: linear-gradient(0 0 0 /.5);
  }


    .container2 {
      height: 300px;
      width: 300px;
      border-radius: 10px;
      box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      gap: 5px;
      background-color: rgba(0, 110, 255, 0.041);
     position: absolute;
     left: 1040px;
     margin-top: 95px;
    }
  
    .header {
      flex: 1;
      width: 100%;
      border: 2px dashed royalblue;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .header svg {
      height: 100px;
    }
  
    .header p {
      text-align: center;
      color: black;
    }
  
    .footer {
      background-color: rgba(0, 110, 255, 0.075);
      width: 100%;
      height: 40px;
      padding: 8px;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: black;
      border: none;
    }
  
    .footer svg {
      height: 130%;
      fill: royalblue;
      background-color: rgba(70, 66, 66, 0.103);
      border-radius: 50%;
      padding: 2px;
      cursor: pointer;
      box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
    }
  
    .footer p {
      flex: 1;
      text-align: center;
    }
  
    #file {
      display: none;
    }
